<div class = "posts">
<a href="/posts/new">
	<button>Create New Post</button>
</a>

<h3>Your Posts:</h3>
  <% @current_user.posts.each do |i| %>
  <h4><%= i.title  %></h4>
  <p><%= i.content %></p>
  <a href="/posts/<%= i.id %>">
    <button>View This Post</button>
  <br>
  <a href="/posts/<%= i.id %>/edit">
    <button>Edit This Post</button> 
  <form method="POST" action="/posts/<%= i.id %>/delete">
    <input id="hidden" type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete This Post">
  </form>  
  <br>
  <% end %>

<a href="/posts">
	<button>See Your Posts</button>
<br>
<a href="/logout">
	<button>Logout</button>
</div>